@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Work+Sans:wght@100&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align:center;
    font-family:Raleway, Work Sans;
    font-weight: 300;
    text-transform: uppercase;
    color: 	#484848;
    letter-spacing: 4.5px;
}

body {
    
    font-family: Raleway, Work Sans;
    font-weight: 400;
    letter-spacing: 0.5px;
    
}

.menu {
    background: rgb(80, 73, 69);
    text-align: center;
}

.menu ul {
    display: inline-flex;
    color: #F5FFFA;
    list-style:none;

}

.menu ul li {
    padding:10px;
    margin:10px;
    width:100px;
   
}

nav {
    width: 100%;
    height:55px;
    background-color: #b2a8a8;
}

nav p {
    color: rgb(26, 19, 19);
    font-family: Work Sans, Raleway;
    font-size: 23px;
    line-height: 50px;
    float: left;
    padding: 0px 25px;

}

nav  ul {
    float: left;
}

nav ul li {
    list-style: none;
    float: left;
    position: relative;
    text-align: center;
}

nav ul li a {
    color: rgb(26, 19, 19);
    font-family: Work Sans, Raleway;
    font-size: 16px;
    padding: 23px 13px;
    display: block;
    text-decoration: none;
}
nav ul li ul {
    display: none;
    background-color:#b2a8a8;
    position: absolute;
    padding: 20px; 
    border-radius: 4px;
    
}
nav ul li:hover ul {
    display: block;

}



    nav ul li ul li  {
        border-radius: 4px;
        width: 100px;
    }
 

nav ul li ul li a {
    padding: 10px 13px; 
}
nav ul li ul li a:hover  {
  background-color: #F5FFFA;
}
 
h1 {
    text-align: center;
}

footer {
text-align: center;
background-color: #484848;
color: #484848;
padding: 20px;
position: absolute;
bottom: 0;
width: 100%;
height: 60px;
background: fixed;    
}

.socials {
    text-align: center;
}

.socials i {
    color: #484848;
    padding: 7%;
    margin: 2%;
    font-size: 180%;
}

.socials > li {
display: inline;
}

.button {
    display: inline-block;
    flex-direction: column;
    text-decoration: none;
    padding: 14px 50px;
    font-size: 1.35rem;
    position: fixed;

}